<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.scit.oracleTest.DAO.boardMapper">
	<insert id="insertBoard" parameterType="Board">
		insert into boardinfo(
			boardseq,
			id,
			boardtitle,
			boardcontent,
			hitcount,
			indate
			)
		values(
			boardseq.nextVal,
			#{id},
			#{boardtitle},
			#{boardcontent},
			#{hitcount},
			sysdate
			)
	</insert>
	<select id="selectBoardList" resultType="Board">
		select 
			boardseq,
			id,
			boardtitle,
			boardcontent,
			hitcount,
			indate
		from
			boardinfo
		order by indate
	</select>
		
	<select parameterType="String" id="selectBoard" resultType="Board"> 
	SELECT
		BOARDSEQ,
		 ID,
		  BOARDTITLE,
		   BOARDCONTENT,
		    HITCOUNT,
		     INDATE
		  FROM BOARDINFO
		   WHERE BOARDSEQ=#{boardSeq} 
	</select>
	<update id="increseHit" parameterType="String">
		update boardinfo
		set
		 hitcount=hitcount+1
		where
		boardseq=#{boardSeq}
	</update>
	<delete id="deleteBoard" parameterType="String">
		delete 
			boardinfo
		where
			boardseq=#{boardseq}
	</delete>	
	<update id="updateBoard" parameterType="board">
		update boardinfo
		set
		 boardtitle=#{boardtitle},
		 boardcontent=#{boardcontent}
		where
		boardseq=#{boardseq}
	</update>
</mapper>
